<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ระบบลงทะเบียน</title>
    </head>
    <body>
      <div class="container">
          <h2 align="center">ระบบลงทะเบียน</h2>
          <form class="" action="/index/add" method="post">
              <div class="form-group">
                  <label for="">username</label>
                  <input type="text" name="username" value="" class="form-control">
              </div>
              <div class="from-group">
                  <label for="">password</label>
                  <input type="text" name="password" value="" class="form-control">
              </div>
              <input type="submit" name="" value="send" class="btn btn-primary">
          </form>
          <a href="/">Back</a>
      </div>
  </body>
</html>